.menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon-logout {
    font-size: 36px; 
    margin-bottom: 8px; 
}

.Texto-Logout {
    font-size: 16px; 
}